<_within file="application.html">

  <div id="content">

    <div template="tutorial" field="id:id">

      <div>
          <button class="btn btn-primary" id="inc-button">Increment Counter</button>
          <button class="btn btn-danger" id="dec-button">Decrement Counter</button>
        </div>

        <div class="counter-row">
          <span class="counter-label">Counter:</span>
          <span class="counter" field="content:my-counter">40</span>
        </div>

    </div>

  </div>

</_within>
